<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>www.Limeroad.com</title>
</head>
<body bgcolor="ash" color="green">
<a href="/limeroadlogin"><img src="{%static 'images/lime2.png'%}"></a>
<a  href="/limeroadlogin" ><img  src="{%static 'images/lime8.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a  href="/limeroadlogin" ><img  src="{%static 'images/lime9.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/limeroadlogin"><img  src="{%static 'images/lime12.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/limeroadlogin"><img  src="{%static 'images/lime10.png'%}"></a>
<br><br><br><a href="/limeroadlogin"><img  src="{%static 'images/lime11.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/limeroadlogin"><img  src="{%static 'images/lime13.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/limeroadlogin"><img  src="{%static 'images/lime14.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/limeroadlogin"><img  src="{%static 'images/lime15.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<h1 align="center" style="background-color:DodgerBlue;"><font color="white">Login Here for more deals and great shoping experience with best discount</font></h1>
<h1 align="left"><font color="white">Login with:</font></h1>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/fblogin"><img height="50" width="200" src="{%static 'images/fbbutton.gif'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bsp&nbsp&nbsp&nbsp
<a href="/gmaillogin"><img height="50" width="200" src="{%static 'images/gbutton.png'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bsp&nbsp&nbsp&nbsp



</body>
</html>