<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login for lime road</title>
</head>
<body bgcolor="ash">
<img src="{%static 'images/lime2.png'%}">
<img src="{%static 'images/lime4.jpg'%}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<img heigth="300" width="300" src="{%static 'images/lime3.jfif'%}">
<h1 align="center" ><font color="white">Login Here for great experience with shoping master LimeRoad,With great discount!</font></h1>
<h1 align="center" ><font color="white">Login With:</font></h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<<a href="/fblogin"><img height="50" width="200" src="{%static 'images/fbbutton.gif'%}"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&
    <a href="/gmaillogin"><img height="50" width="200" src="{%static 'images/gbutton.png'%}"></a>

</body>
</html>